@import "//fonts.googleapis.com/css?family=Cutive";
*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Timer';
  src: url('../font/DS-DigitalBold.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Cutive", serif;
  font-size: 1rem;
  line-height: 1.4;
  color: #222;
  overflow: hidden;
  background-color: #ededed;
  -webkit-transition: background-color 150ms ease-out, color 150ms ease-out;
  transition: background-color 150ms ease-out, color 150ms ease-out;
}

h1 {
  font-size: 5em;
  text-align: center;
}

h4 {
  font-size: 2em;
  text-align: center;
  margin: 0;
}

.dark {
  color: #ededed;
  background-color: #222;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}
a:focus, a:hover {
  box-shadow: inset 0 -8px 0 #c92b2b;
}

p {
  opacity: .6;
  margin: 0 0 .6rem 0;
  -webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
p:hover {
  opacity: 1;
}

.scene {
  padding: 6rem 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.actor {
  height: 2.8em;
  font-size: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}
.actor:last-of-type {
  margin-bottom: 6rem;
}

.actor__content {
  padding-left: 5px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@-webkit-keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.actor__content--typing::after {
  content: '|';
  -webkit-animation: blink 500ms infinite;
  animation: blink 500ms infinite;
}

/* timer */
#timer {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 10%;
  font-size: 25px;
  color: #bd1521;
}

#timer span {
  font-size: 75px;
  color: #fdf900;
  margin: 0 3px 0 15px;
  font-family: 'Timer';
}

#timer span:first-child {
  margin-left: 0;
}
